<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>My_project</title>
    <link href="{{ absolute_url (asset('css/bootstrap.css')) }}" rel="stylesheet"/>


</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

                <div class="row">

                {% for success_message in app.session.flashbag.get('message') %}
                    <div class="alert-success">{{ success_message }}</div>
                {% endfor %}
                <a class="navbar-brand" href="#">My Project</a>

            </div>


</nav>

